@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: 100vh;
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-radial-gradient(#A1D69D, #84B779);  /* Chrome 10-25, Safari 5.1-6 */
    background: radial-gradient(#a1d69d, #84B779); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.header {
    display: flex;
    justify-content: flex-start;
}

.blur {
    -webkit-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
#drop {
    position: absolute;
    top: -2000px;
    transition: all 1s ease;
    z-index: 1;
}
#drop.open {
    position: absolute;
    top: 100px;
}
.App {
    display: flex;
    justify-content: center;
    padding: 15px;
}
.avatar {
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 150px;
    width: 150px;
    margin-top: 10px;
}

div > img {
    object-fit: cover;
    height: 150px;
}
.bar, .box {
    background-color: #f5f5ff;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.bar {
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.5);
    max-width: 80vw;
}

.box {
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.2);
    transition: all 1s ease;
}

.links {
    display: flex;
    justify-content: center;
}

.line {
    background-color: #767676;
    height: 2px;
    width: 100px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #84B779;
    border-radius: 15px;
    margin: 20px;
    padding: 5px;
    width: 50px;
    height: 50px;
    transition: all 200ms ease;
}

h1 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    color: #5E5E5E;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 33px;
    text-align: center;
    color: #B8B8B8;
}

button {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #767676;
    background: none;
    width: 145px;
    cursor: pointer;
    border: none;
}

button:active, button:focus {
    outline: none;
}

.link-button:hover {
    transform: scale(1.1);
}

.about:hover .line {
    width: 120px;
}

a > img {
    height: 40px;
    width: 40px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 300ms ease;
}

#\^ {
    width: 30px;
    height: 30px;
    font-weight: bold;
}

#waffle {
    color: #5E5E5E;
}

@media screen and (min-width: 768px){
    a > img {
        height: 50px;
        width: 50px;
    }
    .link-button {
        width: 60px;
        height: 60px;
    }
    .bar {
        max-width: 50vw;
    }
}
